@import url(../assets/fonts/icofont/icofont.min.css);
@import url(./base/button.css);
@import url(./base/input.css);
@import url(./base//notice.css);
@import url(./overrider.css);
@import url(./base/table.css);
@import url(./base/animation.css);
body {
    font-family: MFonts;
    font-size: 13px;
    margin: 0;
}

* {
    font-family: MFonts;
}

@font-face {
    font-family: MFonts;
    src: url(../assets/fonts/nunito-sans/nunito-sans.regular.ttf);
}

.flex {
    display: flex;
    align-items: center;
}

.text--underline {
    text-decoration: underline;
}

.mg-bottom-0 {
    margin-bottom: 0;
}

.bg-yellow {
    background-color: yellow;
}

.--color-red {
    color: #ff0000;
}

.--color-edit {
    color: #0084ff;
}

.--color-green {
    color: #067933;
}

.--bold {
    font-weight: 700;
}

label+* {
    margin-top: 4px;
}

.uploading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000065;
    z-index: 11510;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploading__content {
    position: relative;
    top: 30px;
    color: #fff;
}

.uploading__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

progress {
    height: 30px;
    width: 200px;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 0 0 #d4d4d4;
    border-radius: 15px;
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    border-radius: 15px
}

::-moz-placeholder {
    color: #9b9b9b
}

::-webkit-input-placeholder {
    color: #9b9b9b
}

.dialog::-webkit-scrollbar {
    width: 3px;
    height: 10px
}

::-webkit-scrollbar-thumb {
    /* background: #9aa4bb; */
    width: 3px;
    height: 10px;
    border-radius: 4px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

.loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.402);
    z-index: 9999;
}

.loading-wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading__icon {
    width: 50px;
    height: 50px;
    padding-top: 1.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    background: -webkit-linear-gradient(rgb(255, 128, 0), #0084ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: spin 1000ms infinite linear;
    -webkit-animation: spin 1000ms infinite linear;
}

.main>* {
    width: 100%;
}

.loading__text {
    color: #ffffff;
    margin-top: 8px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.margin-0 {
    margin: 0;
}

.text-align-right {
    text-align: right;
}