.btn {
    border: none;
    outline: none;
    border-radius: 4px;
    height: 36px;
    min-width: 75px;
    padding: 0 16px;
    cursor: pointer;
}

.btn--default {
    background-color: #0062CC;
    color: #fff;
}

.btn--add {
    background-color: #006207;
    color: #fff;
}

.btn--close:hover {
    background-color: #ccc !important;
}

.btn--table:hover {
    background-color: #ff0000 !important;
    color: #fff;
}

.dialog__button--cancel,
.btn--close,
.btn--remove {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.dialog__button--cancel:hover,
.dialog__button--cancel:focus {
    background-color: #b80000 !important;
}

.btn:hover {
    background-color: #3395FF;
}

.btn:focus {
    background-color: #004999;
}

button.btn--remove-item,
button.btn--close-item {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    color: #ff0000;
    border-color: #ff0000;
    border-style: solid;
}

.btn-mini {
    background: none;
    font-size: 16px;
    width: 20px;
    text-align: center;
    border: unset;
    padding: 0;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc !important;
    pointer-events: none !important;
}

.btn-mini+.btn-mini {
    margin-left: 4px;
}